@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --href-color: #cacaca;
  --href-hover-color: #8d8d8d; 
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

a {
  color: var(--href-color);
  text-decoration: none;
  font-weight: inherit;
  cursor: pointer;
}

p {
  margin: 0.5rem;
}

h1 {
  font-size: 1.5rem;
}

#title-text a{
  font-size: 3vh;
  color: var(--text-color);
}

header {
  border-bottom: 0.3vh solid white;
}

.body-section {
  width: 50%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.body-section a:hover {
  color: var(--href-hover-color);
  transition: 0.1s;
}