@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --href-color: #cacaca;
  --href-hover-color: #8d8d8d; 
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

a {
  color: var(--href-color);
  text-decoration: none;
  font-weight: inherit;
  cursor: pointer;
}

p {
  margin: 0.5rem;
}

h1 {
  font-size: 1.5rem;
}

#title-text a{
  font-size: 3vh;
  color: var(--text-color);
}

header {
  border-bottom: 0.3vh solid white;
  text-align: center;
}

.body-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: black solid 0.2rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.body-container a:hover {
  color: var(--href-hover-color);
  transition: 0.1s;
}

#skills-container {
  display: flex;
  justify-content: space-between;
  max-width: 450px; 
  margin: 0 0;  
}

.skills-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.skills-column p {
	margin-top: 0px;
}

@media only screen and (max-width: 700px) {
  .body-container {
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .body-container {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .body-container {
    font-size: 0.9rem;
  }
}

/*-----404.html-----*/
#container-404 {
  text-align: center;
}

#container-404 #title-text {
  padding-top: 2vh;
  padding-bottom: 5vh;
  font-size: 1.5rem;
}

#container-404 #footer-text {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#container-404 img {
  width: 40vw;
  height: auto;
  border-radius: 2rem;
}