@font-face {
  font-family: "Hack";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/hack-regular.woff2") format("woff2"),
       url("assets/fonts/hack-regular.woff") format("woff");
}

@font-face {
  font-family: "Hack";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/hack-bold.woff2") format("woff2"),
       url("assets/fonts/hack-bold.woff") format("woff");
}

body {
    background-color: black;
    color: white;
}